* {
  margin : 0;
  padding : 0;
  color : #333;
}

body {
  background-color : #fafafa;
  font-family: 'Roboto Slab', serif;
  position : relative;
  width : 640px;
  margin : 0 auto;
}

header {
  position : relative;
  line-height : 70px;
  height : 70px;
  cursor : default;
}

a > i {
  color : #fafafa;
}

.shezard {
  transition: all .3s linear;
}

.beaker {
  transition: all .3s linear;
  font-size : .9em;
  position : absolute;
  top : 0;
  left : 115px;
  border-radius : 40px;
  padding : 0 20px;
}

.beaker:hover {
  -webkit-transform : rotate(-90deg);
  -ms-transform : rotate(-90deg);
  transform : rotate(-90deg);
}

.beaker:hover + .shezard {
  color : #f00;
}

.beaker > i {
  color : #f00;
}

.nav, .nav > i {
  color : #333;
  text-decoration : none;
  transition: color .125s linear;
}

.nav:hover, .nav:hover > i, .nav.selected, .nav.selected > i {
  color : #f00;
}

section {
  position : relative;
  border-top : #aaa 1px solid;
  padding : 17px 0;
}

/* see https://github.com/twbs/bootstrap/blob/master/less/mixins/clearfix.less */
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}

section:last-child {
  margin-bottom : 20px;
}

.big-button {
  color : #fafafa;
  background-color : #aaa;
  display : inline-block;
  padding : 5px 8px;
  border-radius : 8px;
  cursor : pointer;
  text-decoration : none;
  transition: border-radius .25s linear;
  border-radius : 0;
}

.big-button-right {
  float : right;
}

.big-button-left {
  float : left;
}

.big-button:hover {
  border-radius : 8px
}

p {
  position : relative;
  padding : 0 10px;
  margin : 20px 0;
  border-left : #ddd 5px solid;
}

p:first-child {
  margin : 0;
}

@media (max-width: 640px) {
  body {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .big-button {
    padding: 5px;
  }
}
